<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rooster Grin</title>
  </head>

  <body>
    <div class="header">
      <img id="golden_gate" src="../../assets/images/hero.jpg" />
      <div class="top_left">
        <img id="logo_white" src="../../assets/images/logo-white.svg" />
      </div>
      <div class="centered">
        <h1 id="welcome">WELCOME TO</h1>
        <h1 id="rooster_grin">Rooster Grin</h1>
        <button
          type="button"
          class="btn btn-secondary col-6 mx-auto"
          id="purple_button"
        >
          CHECK OUT
        </button>
      </div>
    </div>
    <div class="container">
      <div class="row row-cols-2">
        <div class="col" id="text_container">
          <h1 class="title">LOREM IPSUM</h1>
          <p class="content">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
            qui dolorem ipsum quia dolor sit amet.
          </p>
          <h6 class="title" id="dropdown"> Lorem Ipsum</h6>
        </div>
        <div class="col">
          <img class="banner" src="../../assets/images/img-1.jpg" />
        </div>
      </div>
      <div class="row row-cols-1">
        <div class="col">
          <img class="banner" src="../../assets/images/banner-1.jpg" />
        </div>
      </div>
      <div class="row row-cols-2">
        <div class="col" id="text_container">
          <h1 class="title">LOREM IPSUM</h1>
          <p class="content">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
            qui dolorem ipsum quia dolor sit amet.
          </p>
          <h6 class="title" id="dropdown"> Lorem Ipsum</h6>
        </div>
        <div class="col">
          <img class="banner" src="../../assets/images/img-1.jpg" />
        </div>
      </div>
      <div class="row row-cols-1">
        <div class="col">
          <img class="banner" src="../../assets/images/banner-2.jpg" />
        </div>
      </div>
      <div class="row row-cols-2">
        <div class="col" id="text_container">
          <h1 class="title">LOREM IPSUM Dolor SIT AMET</h1>
        </div>
        <div class="col" id="text_container">
          <h1 class="title">LOREM IPSUM</h1>
          <p class="content">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
            qui dolorem ipsum quia dolor sit amet.
          </p>
          <h6 class="title" id="dropdown"> Lorem Ipsum</h6>
        </div>
      </div>
    </div>
  </body>
</html>
