/* header background image */
#golden_gate {
  width: 100%;
  height: auto;
}
/* Top left logo positioning */
.top_left {
  position: absolute;
  top: 5%;
  left: 12%;
}
/* Top left logo size */
#logo_white {
  width: 90%;
}
/* welcome message div placement */
.centered {
  position: absolute;
  width: 50%;
  top: 30%;
  left: 25%;
  text-align: center;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* div container for top header */
.header {
  position: relative;
}

/* Welcome To - text style */
#welcome {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: transparent;
  font-weight: 900;
  margin: 0px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  display: block;
}
/* Rooster Grin text style */
#rooster_grin {
  font-size: 42px;
  margin: 0px;
  letter-spacing: 7px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  color: white;
}

/* Custom purple button */
#purple_button {
  background-color: rgb(174, 93, 250);
  border: transparent;
  margin-top: 5%;
  border-radius: 1%;
  padding: 9px;
  width: 30%;
  font-size: 13px;
}
/* container for the grid */
.container {
  padding: 0px;
  margin: 0px;
  min-width: 100%;
}

.row {
  --bs-gutter-x: 0rem;
}
.col {
  padding: 0px;
}
/* all images other than golden gate */
.banner {
  width: 100%;
  height: auto;
}
/* container for all of the text on the split rows */
#text_container {
  padding: 10% 5% 10% 15%;
}

/* div that holds content for the last row right column */
#text_container_bottom_right {
  padding: 5% 5% 2% 5%;
}

#bottom_right_text {
  width: 70%;
}

/* div that holds content for the last row left column */
#text_container_bottom_left {
  padding: 5% 5% 5% 15%;
}

/* paragraph style  */
.content,
.content3,
.content6 {
  font-size: 12px;
}

.content2,
.content4,
.content5,
.content7 {
  display: none;
  font-size: 12px;
}

/* titles of all rows */
.title {
  color: rgb(109, 30, 109);
}

.read_more,
.read_more2 {
  color: rgb(109, 30, 109);
}

/* the footer of the text in each row > */
#dropdown {
  font-weight: bold;
}

/* container for the first banner */
.banner_text {
  position: absolute;
  width: 25%;
  top: 40%;
  left: 20%;
}

/* container for the second banner */
.banner_text2 {
  position: absolute;
  width: 27%;
  top: 30%;
  right: 13%;
}

/* Custom orange button */
#orange_button,
#orange_button2 {
  background-color: rgb(255, 120, 67);
  border: transparent;
  border-radius: 1%;
  padding: 9px;
  width: 60%;
}

/* column div for the two banners */
#relative_div {
  position: relative;
}

/* image sizing for rock climber */
#small_img {
  object-fit: cover;
  min-height: 100%;
}

/* stars container */
#stars {
  color: rgb(255, 120, 67);
  width: 75%;
}

/* every star */
.fas {
  padding-right: 2%;
}

/* titles for the bottom row left column*/
#title_bottom {
  margin-top: 15%;
  width: 75%;
}
/* footer */
#sticky-footer {
  flex-shrink: none;
  background-color: grey;
}
/* footer icons */
.social_icons {
  width: 5%;
  padding-left: 1%;
  padding-right: 1%;
}

/* carousel div */
.carousel {
  margin-top: 5%;
}

/* carousel div size */
.carousel-inner {
  height: 100%;
}

/* carousel paragraph content */
.carousel-caption {
  color: black;
  top: 50%;
  text-align: left;
  font-size: 12px;
}

/* carousel arrow indicators */
#carousel_button {
  color: black;
}

/* titles/names on each carousel item */
.carousel_title {
  color: purple;
  margin-bottom: 5%;
  text-align: center;
}

/* logo icons */
.home_logos {
  width: 40%;
  border: 1px solid purple;
  border-radius: 50%;
  margin-left: 30%;
}

/* containers for icons */
#logo_container {
  margin: 12% 20% 10% 20%;
  width: 50%;
}

/* icons column/row div */
#logos_column {
  background-color: #f8f9fa;
}

/* icons div containing icon and text */
#logo_box {
  display: inline-block;
  width: 50%;
}

/* text below each icon */
.logo_text {
  text-align: center;
  margin-top: 5%;
}

/* icons animation */
#logo_box:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

$color: rgb(148, 83, 179);

#purple_button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all 0.3s;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

#dropdown:hover {
  color: orange;
}

$color: rgb(255, 115, 0);

#orange_button,
#orange_button2 {
  padding: 0.75rem 1.25rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all 0.3s;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

/* social icons animation */
.social_icons:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
