<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Rooster Grin</title>
</head>

<body>
  <div class="header">
    <img id="golden_gate" src="../../assets/images/hero.jpg" />
    <div class="top_left">
      <img id="logo_white" src="../../assets/images/logo-white.svg" />
    </div>
    <div class="centered">
      <h1 id="welcome">WELCOME TO</h1>
      <h1 id="rooster_grin">Rooster Grin</h1>
      <button type="button" class="btn btn-secondary col-6 mx-auto" id="purple_button" dest="projects"
        (click)="goToDestination('col_1')">
        Our Mission
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row row-cols-2" id="col_1">
      <div class="col" id="text_container">
        <h1 class="title">LOREM IPSUM</h1>
        <p class="content">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
          quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
          eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
          qui dolorem ipsum quia dolor sit amet.
        </p>
        <p class="content2">
          Qveritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
          eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
          qui dolorem ipsum quia dolor sit amet.
        </p>
        <a class="read_more" id="dropdown">> Read More</a>
      </div>
      <div class="col">
        <img class="banner" id="small_img" src="../../assets/images/img-1.jpg" />
      </div>
    </div>

    <div class="row row-cols-1">
      <div class="col" id="relative_div">
        <img class="banner" src="../../assets/images/banner-1.jpg" />
        <div class="banner_text">
          <h2 class="title">LOREM IPSUM</h2>
          <button type="button" class="btn btn-secondary col-6 mx-auto" id="orange_button">
            Learn More
          </button>
          <p class="content5">
            Qveritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
            qui dolorem ipsum quia dolor sit amet.
          </p>
        </div>
      </div>
    </div>
    <div class="row row-cols-2">
      <div class="col" id="text_container">
        <h1 class="title">LOREM IPSUM</h1>
        <p class="content3">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
          quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
          eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
          qui dolorem ipsum quia dolor sit amet.
        </p>
        <p class="content4">
          Qveritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
          eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
          qui dolorem ipsum quia dolor sit amet.
        </p>
        <a class="read_more2" id="dropdown">> Read More</a>
      </div>
      <div class="col" id="logos_column">
        <div id="logo_container">
          <div id="logo_box">
            <img class="home_logos" src="../../assets/images/home-expertise.svg" />
            <h6 class="logo_text">LOREM </h6>
          </div>
          <div id="logo_box">
            <img class="home_logos" src="../../assets/images/home-hygiene.svg" />
            <h6 class="logo_text">LOREM IPSUM</h6>
          </div>
        </div>
        <div id="logo_container">
          <div id="logo_box">
            <img class="home_logos" src="../../assets/images/home-lab.svg" />
            <h6 class="logo_text">LOREM IPSUM</h6>
          </div>
          <div id="logo_box">
            <img class="home_logos" src="../../assets/images/home-retention.svg" />
            <h6 class="logo_text">LOREM </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1">
      <div class="col" id="relative_div">
        <img class="banner" src="../../assets/images/banner-2.jpg" />
        <div class="banner_text2">
          <h2 class="title">LOREM IPSUM</h2>
          <p class="content6">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritat istotam rem aperiam eaque.
          </p>
          <p class="content7">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritat istotam rem aperiam eaque.
          </p>
          <button type="button" class="btn btn-secondary col-6 mx-auto" id="orange_button2">
            Learn More
          </button>
        </div>
      </div>
    </div>
    <div class="row row-cols-2">
      <div class="col" id="text_container_bottom_left">
        <h3 class="title" id="title_bottom">LOREM IPSUM DOLOR SIT AMET</h3>
        <div id="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption">
              <h6 class="carousel_title">Kyle McReynolds 01/20/2020</h6>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque
                ipsa quae ab illo inventore veritat istotam rem aperiam
                eaque.Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                aut odit aut fugit, sed quia consequuntur magni dolores eos
                qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                est, qui dolorem ipsum quia dolor sit amet.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <h6 class="carousel_title">John Doe 03/01/2020</h6>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque
                ipsa quae ab illo inventore veritat istotam rem aperiam
                eaque.Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                aut odit aut fugit, sed quia consequuntur magni dolores eos
                qui ratione. qui dolorem ipsum quia dolor sit amet.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <h6 class="carousel_title">James Joe 06/05/2020</h6>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque
                ipsa quae ab illo inventore veritat istotam rem aperiam eaque.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <h6 class="carousel_title">John D 03/07/2021</h6>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque
                ipsa quae ab illo inventore veritat istotam rem aperiam eaque.
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                odit aut fugit, sed quia consequuntur magni dolores eos qui
                ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                qui dolorem ipsum quia dolor sit amet.
              </p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" id="carousel_button" href="#carouselExampleControls" role="button"
          data-slide="prev">
          <span class="carousel-control-prev-icon"><i class="fas fa-chevron-left"></i></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" id="carousel_button" href="#carouselExampleControls" role="button"
          data-slide="next">
          <span class="carousel-control-next-icon"><i class="fas fa-chevron-right"></i></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <footer id="sticky-footer" class="py-4 bg-light text-black-20">
      <div class="container text-center">
        <p>Follow Us:</p>
        <a id="a1" href="https://www.instagram.com/roosterswings/" target="_blank"><img class="social_icons"
            src="../../assets/images/instagram.svg" /></a>
        <a id="a1" href="https://www.facebook.com/RoosterTFeathers/" target="_blank"><img class="social_icons"
            src="../../assets/images/facebook.svg" /></a>
      </div>
    </footer>
  </div>
</body>

</html>
